# Mandatory
WB_USER=your_username
WB_PASSWORD=your_password
API_URL=your_wikibase_api_url

# Optional
TLS_VERIFY=
VERBOSE=
LANGUAGE=
STORE_FILE=
LOOKUP_FILE=
RML_MAPPING_PATH=
SCHEMA_OUTPUT_PATH=
RML_OUTPUT_PATH=
