# Mandatory
WB_USER=admin
WB_PASSWORD=WikibasePassword123
API_URL=http://localhost:8181/w/api.php

# Optional
TLS_VERIFY=
SEARCH_WIKIBASE=
VERBOSE=
LANGUAGE=
STORE_FILE=
LOOKUP_FILE=
RML_MAPPING_PATH=
SCHEMA_OUTPUT_PATH=
RML_OUTPUT_PATH=
NA_VALUES=
